---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
---

<!doctype html>
<html lang="en">
<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
<Header pageTitle={"questioning akuyu (qa)"} description={"questions and answers"} />
<style>
    main {
        width: 960px;
    }
    p, ul {
        margin-bottom: 34px;
    }
</style>

<body>
<main>
    <h2>questions which you <i>might</i> want hear answers to</h2>
		<h5>last updated: 05-oct-2025</h5>
    <p>Q: why does your website have this domain and pages look like this??<br>
		A: domain part: i saw .rip domain online and thought of ame (nso). i think they go together pretty well. and i find myself in ame and ame in myself.<br>
		graphics part: naturally followed from domain part, tried to be creatiev in trying to replicate parts of the game's ui through css but never got to reimplementing real windose. 
    </p>
			<p>Q: what are your hobbies/interests?<br>
			cooking (trying to get into baking more lately). i used to play games but im not that interested in games anymore but i will be up for factorio run ^^. i also like classical music (mostly concertos).
			</p>
			<p>
        this concludes qa page, might add/remove entries in the future
    </p>
</main>
</body>
</html>
