---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
---

<!doctype html>
<html lang="en">
<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
<Header pageTitle={"questioning akuyu (qa)"} description={"wow questions and answers..."} />
<style>
    main {
        width: 960px;
    }
    p, ul {
        margin-bottom: 34px;
    }
</style>

<body>
<main>
    <h2>questions which you <i>might</i> want hear answers to</h2>
    <p>Q: why the hell does your website has this domain and pages look like this??<br>
        A: domain part: idk i was just browsing something online and saw .rip domain and then i suddenly thought about
        ame (nso) for some reason (maybe because i was replaying nso at that time, idk) and it clicked and i was like
        "oh wow this sounds great i really should do this" and so i did. initially i thought of taking akuyu.dev but
        then this idea popped up ¯\_(ツ)_/¯ (and .dev is pretty generic imo)<br><br>
        design part: because i am not particularly good at coming up with
				graphics/design-related things so i just got inspired by nso's window layout and decided to commit to the bit. at first
        i had much more interesting idea but then i scrapped it because i dont know how to work with graphics in browsers
        so i decided to delay it and went with <i>this</i>
    </p>
		<p>Q: what do you do in your life? <br>
				A: umm thats a secret for now, but i wish i could be doing more... 
		</p>
			<p>Q: what do you like?<br>
				A: sleeping, but i never get enough of sleep... i also really like music i listen to and i like talking about my hobbies/interests (which is why i even committed to making this website in first place, as twitter post limit is low and threads kind of suck)
		</p>
			<p>Q: what are your hobbies/interests then?<br>
				A: probably occasionally playing games, but atp i dont know what to play. i also listen to a lot of music (well, mostly same ≈10 albums on repeat but still), and because of this i have a hobby of collecting physical copies of albums/eps - mostly vinyls because they are very pretty in both coloured and black variants (my most favourite one so far is probably 'transparent blue' release of 'Relentless Mutation' by 'Archspire', if album cover-wise, then 'Tenebre Rosso Sangue' by 'Keygen Church' with its metallic-ish reflecting patterns, if just cool one in general then Rachmaninoff's piano concerto #2 in c minor by philadelphia orchestra pressed some time around 1962) 
			</p>
			<p>Q: what do you use (technologies-wise)?<br>
				proglangs: go, python, sometimes elixir (im still trying to switch to it, definitely will commit to this in 2025)<br>
				ides: nvim in ghostty, zed and many jb ides e.g goland, webstorm, intellij, i switch between all 3 whenever i feel like it<br>
				proud firefox user (but i split work between ff and chrome)<br>
				and of course i have to be using obsidian, but mostly because of md rendering it has (especially latex, i like latex formulas so much). if there was a better alternative with cross-device syncing then i probably would've switched already, dont care much about 'knowledge tree' thing people do in obsidian
			</p>
			<p>
        this concludes qa page for now, might add/remove entries in the future
    </p>
</main>
</body>
</html>
