---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
---

<!doctype html>
<html lang="en">
<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
<Header pageTitle={"questioning akuyu (qa)"} description={"questions and answers"} />
<style>
    main {
        width: 960px;
    }
    p, ul {
        margin-bottom: 34px;
    }
</style>

<body>
<main>
    <h2>questions which you <i>might</i> want hear answers to</h2>
		<h5>last updated: 11-may-2025</h5>
    <p>Q: why does your website have this domain and pages look like this??<br>
		A: domain part: i saw .rip domain online and thought of ame (nso). i think they go together pretty well. and i find myself in ame and ame in myself.<br>
		graphics part: naturally followed from domain part, would've been lame if i shadcn-ed this website instead of going for something more creative, in this case trying to replicate parts of the game's ui through css. i am planning to update it to have so much more, so look forward to it.
    </p>
		<p>Q: what do you do in your life? <br>
				A: secret. 
		</p>
			<p>Q: what do you like?<br>
			A: sleeping, but i never get enough of sleep... it just feels like it does not matter how much i sleep, i always need one extra hour...
		</p>
			<p>Q: what are your hobbies/interests then?<br>
			cooking (i try to make something new every week) and working on side projects if i feel like it. i used to play games but at this point im simply not interested. sad.
			</p>
			<p>Q: what do you use (technologies-wise)?<br>
			langs: rust, go, python, java (in order of preference)<br>
				ides: mostly nvim in ghostty, but i also use zed and many jb ides e.g goland, webstorm, intellij, i switch between all 3 whenever i feel like it<br>
				browser: i dont *really* have browser preference, i use zen, ff and chrome to separate parts of my life (if you got a random thought "oh but why not brave instead of ff/chrome" - it just did not work out for me. nothing personal, i just prefer gecko and want chrome as most supported browser with nothing cut from it). <br>
				and lastly, i use obsidian, but only for note-taking - i make lots of them so its handy to have md rendering with easily structured notes
			</p>
			<p>
        this concludes qa page, might add/remove entries in the future
    </p>
</main>
</body>
</html>
