---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
<head>
    <title>oops</title>
    <BaseHead title={`Page Not Found - ${SITE_TITLE}`} description="The page you are looking for does not exist." />
</head>
<body>
<Header />
<main>
    <h1>404</h1>
    <p>either nonexistent or under construction, try again later!</p>
    <p><a href="/">Go back to the homepage</a></p>
</main>
</body>
</html>
