---
import BaseHead from '../components/BaseHead.astro';
// import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
<head>
    <title>oops</title>
    <BaseHead title={`404....`} description="page does not exist"/>
</head>

<style>
</style>

<body>
<!--<Header />-->
<main>
    <h1>404</h1>
    <p>either nonexistent or under construction, try again later!<br>
        <a href="/"> >to the main page</a></p><br>
</main>
</body>
</html>
