---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
---

<!doctype html>
<html lang="en">
<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
<Header pageTitle="hi there"/>

<style>
    main {
        width: 960px;
    }

    p, ul {
        margin-bottom: 34px;
    }

    a {
        color: #212939;
        text-decoration: none;
    }

    a:hover {
        color: var(--accent);
    }
</style>

<body>
<main>
    <div>
        <p>
            hiii<br>im a terminally online internet creature that writes code every now and then (usually i just
            post whatever thoughts i have at the moment and i think a bit too much...)
        </p>
        <p>
            for now there are no blogs published (still polishing things up) but can check out small
            <a href="/qa">/qa</a> page with some facts about me
        </p>
        <p>
            in the future i want add some kind of friends list here so lmk if you want to be featured here!!
        </p>
        <p>
            contact me: @_akuyu on both <a href="https://x.com/_akuyu"> twitter</a> and discord<br>
            do not hesitate to ask me anything you want (quite literally anything, i dont mind)
        </p>
    </div>
</main>
</body>
</html>
