---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<title>hi there</title>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}

			p, ul {
				margin-bottom: 34px;
			}

			a {
				color: black;
				text-decoration: none;
			}

			a:hover {
				color: var(--accent);
			}

		</style>
	</head>
	<body>
		<Header />
		<main>
			<div>
				<p>
					hiii<br>i am a terminally online internet person that writes code every now and then.
					i also tend to think a lot about various things...
				</p>
				<p>
					i run a blog at <a href="/blog">/blog</a>, go read about things ive wrote about in the past
					(i post updates about new blogposts on twitter *wink* *wink*)<br> or you can check out small
					<a href="/qa">/qa</a> page with some things about me
				</p>
				<p>
					in the future i want add some kind of friends list here so lmk if you want to be featured here!!
				</p>
				<p>
					contact me: @_akuyu on both twitter and discord<br>
					do not hesitate to ask me anything you want, like quite literally anything
				</p>
			</div>
		</main>
	</body>
</html>
