---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
---

<!doctype html>
<html lang="en">
<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
<Header pageTitle="hi there" description={"do you love me?"}/>

<style>
    main {
        width: 960px;
    }

    p, ul {
        margin-bottom: 34px;
    }
</style>

<body>
<main>
    <div>
        <p>
            hiii!!!!<br>im a terminally online internet person and i write code every now and then. you probably know
            me from my posts on my twitter (currently x) page.
        </p>
        <p>
           sometimes i write articles at <a href="/blog">/blog</a> (i post updates on my twitter *wink* *wink*),
            go check them out!<br>
            you can also visit small <a href="/qa">/qa</a> page with some facts about me
        </p>
        <p>
            contact me: @_akuyu on both <a href="https://x.com/_akuyu"> twitter</a> and discord<br>
            do not hesitate to ask me anything you want (quite literally anything, i dont mind)
        </p>
    </div>
</main>
</body>
</html>
