---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
---

<!doctype html>
<html lang="en">
<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
<Header pageTitle="hi there" description={"do you love me?"}/>

<style>
    main {
        width: 960px;
    }

    p, ul {
        margin-bottom: 34px;
    }
</style>

<body>
<main>
    <div>
				<p>
				not much to say here now. please visit small <a href="/qa">/qa</a> page if you feel like it
				</p>
        <p>
				contact me: @_akuyu on both <a href="https://x.com/_akuyu"> twitter</a> and discord, or mail <b>me</b> at <b>this domain</b> (read-only for now, will set up proper mail server in the future)<br>
				please do add me if you know me from elsewhere and want to have other socials as well.
        </p>
    </div>
</main>
</body>
</html>
