---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<title>hi there</title>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			p, ul {
				margin-bottom: 34px;
			}
			a {
				color: black;
				text-decoration: none;
			}

			a:hover {
				color: var(--accent);
			}

		</style>
	</head>
	<body>
		<Header />
		<main>
			<div>
				<p>hiii<br>i am a terminally online internet person that writes code every now and then. i really like music that i listen to and i also tend to think a lot about various things...</p>
				<p>i also run a blog at <a href="/blog">/blog</a>, go read about things ive wrote about in the past (i post updates about new blogposts on twitter *wink* *wink*)</p>
				<p>let me know if you want your website to be here (or a shoutout! cuz otherwise main page looks lonely...):</p>
				<ul>
					<li>your-website-could-be-here</li>
					<li>or-your-name!</li>
				</ul>
				<p>contact me: @_akuyu on both twitter and discord<br>do not hesitate to ask me anything you want, "i wont bite" as they say</p>
			</div>
		</main>
	</body>
</html>
