---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
---

<!doctype html>
<html lang="en">
<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
<Header pageTitle="hi there" description={"do you love me?"}/>

<style>
    main {
        width: 960px;
    }

    p, ul {
        margin-bottom: 34px;
    }

    a {
        color: #212939;
        text-decoration: none;
    }

    a:hover {
        color: var(--accent);
    }
</style>

<body>
<main>
    <div>
        <p>
            hiii!!!!<br>im a terminally online internet person and i write code every now and then. you probably know
            me from my posts on my twitter (currently x) page.
        </p>
        <p>
            for now there are no blogs published (still polishing things up) but you can check out small
            <a href="/qa">/qa</a> page with some facts about me and ill update this page eventually too
        </p>
        <p>
            in the future i want add some kind of friends list here so lmk if you want to be featured here!!
            both websites and names are fine
        </p>
        <p>
            contact me: @_akuyu on both <a href="https://x.com/_akuyu"> twitter</a> and discord<br>
            do not hesitate to ask me anything you want (quite literally anything, i dont mind)
        </p>
    </div>
</main>
</body>
</html>
