---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
---

<!doctype html>
<html lang="en">
<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
<Header pageTitle="hi there" description={"do you love me?"}/>

<style>
    main {
        width: 960px;
    }

    p, ul {
        margin-bottom: 34px;
    }
</style>

<body>
<main>
    <div>
        <p>
				hiii!!!!<br>
				im a terminally online internet person and i write code every now and then. you probably know
            me from my posts on my twitter (also known as x) page
        </p>
        <p>
				sometimes i write posts at <a href="/blog">/blog</a>, read them if you have some time to<br>
            you can also visit small <a href="/qa">/qa</a> page with some facts about me
        </p>
        <p>
				contact me: @_akuyu on both <a href="https://x.com/_akuyu"> twitter</a> and discord, or mail <b>me</b> at <b>this domain</b> (read-only for now, will set up proper mail server in the future)<br>
				feel free to add me / contact if you feel like it, be that feedback, comment, letter of hate or just want to chat, do not hesitate because ill accept regardless
        </p>
    </div>
</main>
</body>
</html>
