---
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<div class="internal-links">
			<a href="/">{SITE_TITLE}</a>
			<a href="/blog">blog</a>
		</div>
		<div class="font-toggle">
			<button id="font-toggle">Switch Font</button>
		</div>
	</nav>
</header>

<script type="module" is:inline>

</script>

<style>
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	nav a {
		padding: 1em 0.5em;
		text-decoration: none;
	}

	.font-toggle button {
		background: none;
		border: 2px solid var(--accent);
		padding: 0.5em;
		cursor: pointer;
	}

	.font-toggle button:hover {
		background-color: var(--accent);
		color: white;
	}
</style>