---
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<div class="internal-links">
			<a href="/">{SITE_TITLE}</a>
			<a href="/blog">blog</a>
		</div>
	</nav>
</header>

<style>
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	nav a {
		padding: 1em 0.5em;
		text-decoration: none;
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		document.body.style.cursor = 'url(data:image/...;base64,data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAwElEQVRIicWVTQ6CMBBGvzIeBRdsTOo1Gjysph4D16YeRcBFMwErGCi081aEn/B4dFJVl03fYuD+OitsoNjy8BQHPrBOAwDMsekJwC3SNJ0hMzYF1jdNb8jENs1j2HbDyrw+T6CCFjfN1zBkaVMZwzVN5RqGzDWVMaSOvk+MNKzTwBswlW8q39BUj7/X8xj6deZNrNM/r5WdFDaLZXdDVZd+/TBhG963eTIY/pL0sxy7/84hNMsALsHfp+lb9zf8ACTxT/mDzpLPAAAAAElFTkSuQmCC), pointer';
	});
</script>