---
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<div class="internal-links">
			<a href="/">{SITE_TITLE}</a>
			<a href="/blog">blog</a>
		</div>
	</nav>
</header>

<style>
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	nav a {
		padding: 1em 0.5em;
		text-decoration: none;
	}
</style>