---
interface Props {
	pageTitle?: string;
}

const { pageTitle = SITE_TITLE } = Astro.props;
import { SITE_TITLE, ACTIVE_FAVICON, INACTIVE_FAVICON } from '../consts';
---

<head>
	<title>{pageTitle}</title>
	<link id="favicon" rel="icon" href={ACTIVE_FAVICON}>
</head>

<header>
	<nav>
		<div class="internal-links">
			<a href="/">{SITE_TITLE}</a>
			<a href="/blog">blog</a>
		</div>
	</nav>
</header>

<script define:vars={{ ACTIVE_FAVICON, INACTIVE_FAVICON }}>
	let originalTitle = document.title;
	let left = false;

	function handleVisibilityChange() {
		const favicon = document.getElementById('favicon');

		if (document.hidden) {
			setTimeout(() => {
				if (document.hidden) {
					favicon.href = INACTIVE_FAVICON;
					left = true;
					document.title = 'dont ignore me....';
				}
			}, 4000);
		} else if (left){
			favicon.href = ACTIVE_FAVICON;
			left = false;
			document.title = 'never leave me again!!';

			setTimeout(() => {
				document.title = originalTitle;
			}, 4000);
		}
	}

	document.addEventListener('visibilitychange', handleVisibilityChange);

	function cleanup() {
		document.removeEventListener('visibilitychange', handleVisibilityChange);
	}

	document.addEventListener('astro:unmount', cleanup);
</script>

<style>
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	nav a {
		padding: 1em 0.5em;
		text-decoration: none;
	}
</style>